
.fa-logout:before { content: '\e800'; } /* '' */
.fa-pencil:before { content: '\e801'; } /* '' */
.fa-login:before { content: '\e802'; } /* '' */
.fa-phone:before { content: '\e803'; } /* '' */
.fa-search:before { content: '\e804'; } /* '' */
.fa-basket:before { content: '\e805'; } /* '' */